@import url('reset.css');

body {
    background-color: black;
    color: white;
}

section {
  margin: 100px auto;
}

h2 {
  font-size: 2rem;
  color: #33A8DB;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;
}


.banner {
    background-image: url('../images/banner.png'), linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6));
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #33A8DB;
}

.banner .banner-content {
    width: 513px;
    height: 393px;
    margin: auto;
    gap: 16px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.banner p {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 16px 0 24px;
    text-align: center;
    width: 530px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 268px;
    height: 268px;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.banner .banner-content button {
    background-color: transparent;
    border-image: linear-gradient(#33A8DB, #1472B7);
    color: #31A8DD;
    border-image-slice: 10;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 19px 46px;
}

span {
    color: #33A8DB;
    font-weight: normal;
}

#course-content {
    width: 800px;
    height: 325px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course-content p {
    font-size: 1rem;
    text-align: center;
    width: 792px;
    margin: 0px;
}

#course-content .modules-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-content .module {
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 57px;
    background-clip: border-box;
    margin-top: 24px;
    width: 530px;
    height: 52px;
    max-width: 792px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px 5px 6px 2px rgba(0, 0, 0, 0.6);
}

#transform-world {
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB80;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
}

#transform-world p {
    text-transform: lowercase;
    font-size: 2.5rem;
    font-weight: 900;
    width: 244px;
    text-align: left;
    text-shadow: 3px 2px #33A8DB;
    margin-left: 200px;
}

#professional-challenges {
    border-bottom: 1px solid #33A8DB;
    border-radius: 57px;
    margin-top: 24px;
    width: 530px;
    height: 52px;
    max-width: 792px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -3px 5px 6px 2px rgba(0, 0, 0, 0.6);
}